@import 'antd/lib/style/themes/default.less';
@import 'antd/dist/antd.less';

@menu-collapsed-width: 50px;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #f0f2f5;
  color: #606266;
  font-size: 14px;
  height: 100%;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  font-family: Helvetica Neue, Helvetica, PingFang SC, Hiragino Sans GB, Microsoft YaHei, Arial, sans-serif;
}

#app {
  width: 100%;
  height: 100vh;
  position: relative;
}

.fl {
  float: left;
}

.fr {
  float: right;
}

::-webkit-scrollbar {
  width: 5px;
  height: 10px;
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb {
  background: rgb(194, 193, 193);
  border-radius: 10px;
}

/*定义滚动条轨道 内阴影+圆角*/
::-webkit-scrollbar-track {
  border-radius: 10px;
}
